

<!--Pipes-->
{{fecha | date: 'dd/MM/YYYY'}} //
{{fecha | date: 'dd/MM/YY'}}  //
{{fecha | date: 'fullDate'| uppercase}} //
{{'CAMBIADO A MINÚSCULA CON UNA PIPE' | lowercase}}
<br/>
{{4 | calculadora:2}}
<hr/>

<br/>
<!--Peticiones Ajax-->
<input type='text' [(ngModel)]="userId" (keyup.enter)="cargaUsuario()">
<br/><br/>
<div *ngIf="!user">
    Cargando
</div>


<div *ngIf="user">
    <img src="{{user.avatar}}" width="200px"/>
    <h2>{{user.first_name +' '+user.last_name}}</h2>
</div>

<hr/>
<!--Formulario-->

<h2>Crear Usuario</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">

    <p>
        <label for="name">Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required/>
        <span *ngIf="name.touched&&!name.valid">
            El nombre no es válido
        </span>
    </p>
    <p>
        <label for="job">Trabajo</label>
        <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required/>
        <span *ngIf="job.touched&&!job.valid">
            El trabajo no es válido
        </span>
    </p>
    <input type="submit" value="Guardar Usuario" [disabled]="!newUser.form.valid">
</form>

<div *ngIf="usuario_guardado">
    <h2>El usuario se ha guardado correctamente</h2>
    <h3>{{usuario_guardado.name}}</h3>
    <h3>{{usuario_guardado.job}}</h3>
</div>